<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worathat's Portfolio</title>
</head>
<body>
    <header>
        <a class="navbar" href="/">Home</a>
        <a class="navbar" href="/education">My Education</a>
        <a class="navbar" href="/about">About Me</a>
        <a class="navbar" href="/work">My Work Experience</a>
        <a class="navbar" href="/skill">My Skill</a>
    </header>
    <main>
        {{{body}}}
    </main>
    
</body>
</html>