<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="/school" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">KindergartenandElementarySchool</h5>
        <p class="card-text">{{myData.KindergartenandElementarySchool}}</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="/education" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">JuniorHighSchool</h5>
        <p class="card-text">{{myData.JuniorHighSchool}}</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="/school" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">HighSchool</h5>
        <p class="card-text">{{myData.HighSchool}}</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="/graduated" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">University</h5>
        <p class="card-text">{{myData.university}}</p>
      </div>
    </div>
  </div>
</div>