<div class="card-deck">
<div class="card" style="width: 5%;">
  <img src="../school-bag.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">KindergartenandElementarySchool</p>
    <p class="card-text">{{myData.KindergartenandElementarySchool}}</p>
  </div>
</div>

<div class="card" style="width:5%;">
  <img src="../education.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">JuniorHighSchool</p>
    <p class="card-text">{{myData.JuniorHighSchool}}</p>
  </div>
</div>
</div>
<div class="card-deck">
<div class="card" style="width:5%;">
  <img src="../school.png" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">High School</p>
    <p class="card-text">{{myData.HighSchool}}</p>
  </div>
</div>

<div class="card" style="width: 5%;">
  <img src="../graduated.png" class="card-img-top" alt="...">
  <div class="card-body">
      <p class="card-text">University</p>
    <p class="card-text">{{myData.university}}</p>
  </div>
</div>
</div>