<div class="education">
    
        <div class="info-edu">
            <h1 class="num-edu">01</h1>
            <h2 class="p-edu">Kindergarten and Elementary School</h2>
            <p class="school">{{myData.school}}</p>
        </div>
        <div class="info-edu">
            <h1 class="num-edu">02</h1>
            <h2 class="p-edu">Junior High School</h2>
            <p class="school">{{myData.school}}</p>
        </div>
        <div class="info-edu">
            <h1 class="num-edu">03</h1>
            <h2 class="p-edu">High School</h2>
            <p class="school">{{myData.university}}</p>
        </div>
            <div class="info-edu">
            <h1 class="num-edu">04</h1>
            <h2 class="p-edu">University</h2>
            <p class="school">{{myData.university}}</p>
        </div>
    
</div>