
  <br>
  <br>
  <br>
  <br>
  <div class="card-deck">
    <div class="card" >
      <img src="/school-bag.png" class="card-img-top" alt="..." >
      <div class="card-body">
        <h5 class="card-title">Kindergarten and ElementarySchool</h5>
        <p class="card-text">{{myData.KindergartenandElementarySchool}}</p>
      </div>
    </div>
    <div class="card">
      <img src="/education.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Junior HighSchool</h5>
        <p class="card-text">{{myData.JuniorHighSchool}}</p>
      </div>
    </div>
    <div class="card">
      <img src="/school.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">High School</h5>
        <p class="card-text">{{myData.HighSchool}}</p>
      </div>
    </div>
    <div class="card">
      <img src="/graduated.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">University</h5>
        <p class="card-text">{{myData.university}}</p>
      </div>
    </div>
  </div>
