<div class="card mb-3" style="align-items: center;">
  <img src="../milk.jpg" class="card-img-top" alt="..." style="width: 60%;height: 10%;">
  <div class="card-body">
    <h5 class="card-title">{{mydata.welcome}}</h5>
    <p class="card-text">{{mydata.welcome2}}</p>
    <p class="card-text">{{mydata.name}}</p>
    
  </div>
</div>