<div class="card mb-3" style="align-items: center;">
  <img src="../milk.jpg" class="card-img-top" alt="..." style="width: 60%;height: 10%;">
  <div class="card-body">
    <h5 class="card-title">{{myData.name}}</h5>
    <p class="card-text">{{myData.welcome}}</p>
    <p class="card-text">{{myData.welcome2}}</p>
    
  </div>
</div>